{{define "Post"}}
<div id="post-{{ .Post.ID }}" class="post">
  <div class="row">
    <div class="column column-10">
      <div class="post-avatar"></div>
    </div>
    <div class="column column-90 post-body">
      <b>@{{ .Post.Username }}</b>
      <br/>
      {{ .Post.Body }}
    </div>
  </div>

  <div class="row">
    <div class="column">
      <a href="#" phx-click="like" phx-target="<%= @myself %>">
        <i class="fa fa-heart">likes</i> {{ .Posts.Likes }}
      </a>
    </div>
    <div class="column">
      <a href="#" phx-click="repost" phx-target="<%= @myself %>">
        <i class="far fa-retweet">retweets</i> <%= @post.reposts_count %>
      </a>
    </div>
    <div class="column">
      <%= live_patch to: Routes.post_index_path(@socket, :edit, @post.id) do %>
      <i class="far fa-edit">edit</i>
      <% end %>
      <%= link to: "#", phx_click: "delete", phx_value_id: @post.id, data: [confirm: "Are you sure?"] do %>
      <i class="far fa-trash-alt">delete</i>
      <% end %>
    </div>
  </div>
{{end}}
